<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.about_vcc')%></h3>
  <div id="description">
		<p><%=t('help_index.part1')%></p>
		<p><%=t('help_index.part2')%></p>		      
		<p><%=t('help_index.part3', :egee08=>"http://www.globalplaza.org/spaces/global/events/global-infoday-for-america?show_agenda=true",:egee05=>"http://globalplaza.org/spaces/egee/events/5th-egee-user-forum?show_agenda=true",:morfeo=>"http://globalplaza.org/spaces/morfeo-project/events/3-asamblea-del-proyecto-morfeo?show_agenda=true")%>
		<%=t('help_index.part4', :tnc08=>"http://www.globalplaza.org/spaces/global/events/joint-global-and-6choice-event",:tnc09=>"http://www.globalplaza.org/spaces/e-irg/events/open-e-irg-workshop",:tnc10=>"http://www.globalplaza.org/spaces/w3c/events/the-multilingual-web-where-are-we")%>
		</p>				
		<p><%=t('help_index.part6',:url=>signup_path)%></p>
		<span><center><img src="images/frontpage/video_1_happy.jpg" alt="videos online" ALIGN="middle"/></center></span>
		<p><%=t('help_index.part7',:create=>new_space_path,:isabel=>"http://isabel.dit.upm.es/mediawiki/index.php/Isabel_v5_Quick_Guide")%></p>
		<p><%=t('help_index.part8', :web_global=>"http://www.global-project.eu", :isabel=>"http://isabel.dit.upm.es/mediawiki/index.php/Isabel_v5_Quick_Guide",:create=>new_space_path,:url=>signup_path)%></p>							
  </div>
</div>	              

