<div id="policy_title"><%=t('policy.title')%></div>
<div id="policy_body">
	<div class="policy_paragraph"><%=t('policy.paragraph_1')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_2')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_3')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_4')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_5')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_6')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_7')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_8')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_9')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_10')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_11')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_12')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_13')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_14')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_15')%></div>
	<div class="policy_paragraph"><%=t('policy.paragraph_16')%>	</div>
	
</div>
