<div id="policy_title"><%=t('terms.title')%></div><br/>
<div id="policy_body">
	<div class="policy_paragraph"><%=t('terms.paragraph_1')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_2')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_3')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_4')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_5')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_6')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_7')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_8')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_9')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_10')%></div><br/><br/>
	<div class="policy_paragraph"><%=t('terms.paragraph_11')%></div><br/><br/>
	
</div>
