<div id="policy_title"><%=t('legal_notice.title')%></div>
<div id="policy_body">
	<div class="policy_paragraph"><%=t('legal_notice.paragraph_1')%></div>
	<div class="policy_paragraph"><%=t('legal_notice.paragraph_2')%></div>
	<div class="policy_paragraph"><%=t('legal_notice.paragraph_3')%></div>
	<div class="policy_paragraph"><%=t('legal_notice.paragraph_4')%></div>
	<div class="policy_paragraph"><%=t('legal_notice.paragraph_5')%></div>
	<div class="policy_paragraph"><%=t('legal_notice.paragraph_6')%></div>
	<div class="policy_paragraph"><%=t('legal_notice.paragraph_7')%></div>
	<div class="policy_paragraph"><%=t('legal_notice.paragraph_8')%></div>
	
</div>
